Diploma/Diploma/Web References/ProcessManagement/ProcessManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://www.apache.org/ode/pmapi" xmlns:typ="http://www.apache.org/ode/pmapi/types/2006/08/02/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.apache.org/ode/pmapi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified">
      <xsd:import schemaLocation="ProcessManagement?xsd=pmapi.xsd" namespace="http://www.apache.org/ode/pmapi/types/2006/08/02/" />
    </xsd:schema>
    <xsd:schema xmlns:ns6="http://www.apache.org/ode/pmapi/types/2006/08/02/" xmlns:ns5="http://www.apache.org/ode/pmapi/types/2006/08/02/" xmlns:ns2="http://www.apache.org/ode/pmapi/types/2006/08/02/" xmlns:ns7="http://www.apache.org/ode/pmapi/types/2006/08/02/" xmlns:ns4="http://www.apache.org/ode/pmapi/types/2006/08/02/" xmlns:ns3="http://www.apache.org/ode/pmapi/types/2006/08/02/" xmlns:ns8="http://www.apache.org/ode/pmapi/types/2006/08/02/" xmlns:ns10="http://www.apache.org/ode/pmapi/types/2006/08/02/" xmlns:ns0="http://www.apache.org/ode/pmapi" xmlns:ns1="http://www.apache.org/ode/pmapi/types/2006/08/02/" xmlns:ns9="http://www.apache.org/ode/pmapi/types/2006/08/02/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.apache.org/ode/pmapi">
      <xsd:import namespace="http://www.apache.org/ode/pmapi/types/2006/08/02/" />
      <xsd:import namespace="http://www.apache.org/ode/pmapi/types/2006/08/02/" />
      <xsd:import namespace="http://www.apache.org/ode/pmapi/types/2006/08/02/" />
      <xsd:import namespace="http://www.apache.org/ode/pmapi/types/2006/08/02/" />
      <xsd:import namespace="http://www.apache.org/ode/pmapi/types/2006/08/02/" />
      <xsd:import namespace="http://www.apache.org/ode/pmapi/types/2006/08/02/" />
      <xsd:import namespace="http://www.apache.org/ode/pmapi/types/2006/08/02/" />
      <xsd:import namespace="http://www.apache.org/ode/pmapi/types/2006/08/02/" />
      <xsd:import namespace="http://www.apache.org/ode/pmapi/types/2006/08/02/" />
      <xsd:import namespace="http://www.apache.org/ode/pmapi/types/2006/08/02/" />
      <xsd:complexType name="aidsType">
        <xsd:all>
          <xsd:element name="aid" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="listType">
        <xsd:all>
          <xsd:element name="element" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="ManagementFault" type="xsd:string" />
      <xsd:element name="activate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="pid" type="xsd:QName" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listAllProcesses">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExtensibilityElements">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="pid" type="xsd:QName" />
            <xsd:element form="unqualified" name="aids" type="ns0:aidsType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setRetired">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="pid" type="xsd:QName" />
            <xsd:element form="unqualified" name="retired" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProcessInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="pid" type="xsd:QName" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listProcessesCustom">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="filter" type="xsd:string" />
            <xsd:element form="unqualified" name="orderKeys" type="xsd:string" />
            <xsd:element form="unqualified" name="customizer" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setProcessPropertyNode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="pid" type="xsd:QName" />
            <xsd:element form="unqualified" name="propertyName" type="xsd:QName" />
            <xsd:element form="unqualified" name="propertyValue" type="xsd:anyType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listProcesses">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="filter" type="xsd:string" />
            <xsd:element form="unqualified" name="orderKeys" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setProcessProperty">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="pid" type="xsd:QName" />
            <xsd:element form="unqualified" name="propertyName" type="xsd:QName" />
            <xsd:element form="unqualified" name="propertyValue" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProcessInfoCustom">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="pid" type="xsd:QName" />
            <xsd:element form="unqualified" name="customizer" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="activateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="process-info" type="ns9:tProcessInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listAllProcessesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="process-info-list" type="ns9:tProcessInfoList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExtensibilityElementsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="process-info" type="ns9:tProcessInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setRetiredResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="process-info" type="ns9:tProcessInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProcessInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="process-info" type="ns9:tProcessInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listProcessesCustomResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="process-info-list" type="ns9:tProcessInfoList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setProcessPropertyNodeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="process-info" type="ns9:tProcessInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listProcessesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="process-info-list" type="ns9:tProcessInfoList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setProcessPropertyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="process-info" type="ns9:tProcessInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProcessInfoCustomResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="unqualified" name="process-info" type="ns9:tProcessInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="listProcessesInput">
    <wsdl:part name="parameters" element="tns:listProcesses" />
  </wsdl:message>
  <wsdl:message name="listProcessesOutput">
    <wsdl:part name="parameters" element="tns:listProcessesResponse" />
  </wsdl:message>
  <wsdl:message name="managementFault">
    <wsdl:part name="managementFault" element="tns:ManagementFault" />
  </wsdl:message>
  <wsdl:message name="setRetiredInput">
    <wsdl:part name="parameters" element="tns:setRetired" />
  </wsdl:message>
  <wsdl:message name="setRetiredOutput">
    <wsdl:part name="parameters" element="tns:setRetiredResponse" />
  </wsdl:message>
  <wsdl:message name="listAllProcessesInput">
    <wsdl:part name="parameters" element="tns:listAllProcesses" />
  </wsdl:message>
  <wsdl:message name="listAllProcessesOutput">
    <wsdl:part name="parameters" element="tns:listAllProcessesResponse" />
  </wsdl:message>
  <wsdl:message name="setProcessPropertyInput">
    <wsdl:part name="parameters" element="tns:setProcessProperty" />
  </wsdl:message>
  <wsdl:message name="setProcessPropertyOutput">
    <wsdl:part name="parameters" element="tns:setProcessPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="activateInput">
    <wsdl:part name="parameters" element="tns:activate" />
  </wsdl:message>
  <wsdl:message name="activateOutput">
    <wsdl:part name="parameters" element="tns:activateResponse" />
  </wsdl:message>
  <wsdl:message name="getExtensibilityElementsInput">
    <wsdl:part name="parameters" element="tns:getExtensibilityElements" />
  </wsdl:message>
  <wsdl:message name="getExtensibilityElementsOutput">
    <wsdl:part name="parameters" element="tns:getExtensibilityElementsResponse" />
  </wsdl:message>
  <wsdl:message name="setProcessPropertyNodeInput">
    <wsdl:part name="parameters" element="tns:setProcessPropertyNode" />
  </wsdl:message>
  <wsdl:message name="setProcessPropertyNodeOutput">
    <wsdl:part name="parameters" element="tns:setProcessPropertyNodeResponse" />
  </wsdl:message>
  <wsdl:message name="getProcessInfoCustomInput">
    <wsdl:part name="parameters" element="tns:getProcessInfoCustom" />
  </wsdl:message>
  <wsdl:message name="getProcessInfoCustomOutput">
    <wsdl:part name="parameters" element="tns:getProcessInfoCustomResponse" />
  </wsdl:message>
  <wsdl:message name="getProcessInfoInput">
    <wsdl:part name="parameters" element="tns:getProcessInfo" />
  </wsdl:message>
  <wsdl:message name="getProcessInfoOutput">
    <wsdl:part name="parameters" element="tns:getProcessInfoResponse" />
  </wsdl:message>
  <wsdl:message name="listProcessesCustomInput">
    <wsdl:part name="parameters" element="tns:listProcessesCustom" />
  </wsdl:message>
  <wsdl:message name="listProcessesCustomOutput">
    <wsdl:part name="parameters" element="tns:listProcessesCustomResponse" />
  </wsdl:message>
  <wsdl:portType name="ProcessManagementPortType">
    <wsdl:operation name="listProcesses">
      <wsdl:input wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/listProcessesRequest" message="tns:listProcessesInput" />
      <wsdl:output wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/listProcessesResponse" message="tns:listProcessesOutput" />
      <wsdl:fault wsaw:Action="urn:listProcessesmanagementFault" name="managementFault" message="tns:managementFault" />
    </wsdl:operation>
    <wsdl:operation name="setRetired">
      <wsdl:input wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/setRetiredRequest" message="tns:setRetiredInput" />
      <wsdl:output wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/setRetiredResponse" message="tns:setRetiredOutput" />
      <wsdl:fault wsaw:Action="urn:setRetiredmanagementFault" name="managementFault" message="tns:managementFault" />
    </wsdl:operation>
    <wsdl:operation name="listAllProcesses">
      <wsdl:input wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/listAllProcessesRequest" message="tns:listAllProcessesInput" />
      <wsdl:output wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/listAllProcessesResponse" message="tns:listAllProcessesOutput" />
      <wsdl:fault wsaw:Action="urn:listAllProcessesmanagementFault" name="managementFault" message="tns:managementFault" />
    </wsdl:operation>
    <wsdl:operation name="setProcessProperty">
      <wsdl:input wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/setProcessPropertyRequest" message="tns:setProcessPropertyInput" />
      <wsdl:output wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/setProcessPropertyResponse" message="tns:setProcessPropertyOutput" />
      <wsdl:fault wsaw:Action="urn:setProcessPropertymanagementFault" name="managementFault" message="tns:managementFault" />
    </wsdl:operation>
    <wsdl:operation name="activate">
      <wsdl:input wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/activateRequest" message="tns:activateInput" />
      <wsdl:output wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/activateResponse" message="tns:activateOutput" />
      <wsdl:fault wsaw:Action="urn:activatemanagementFault" name="managementFault" message="tns:managementFault" />
    </wsdl:operation>
    <wsdl:operation name="getExtensibilityElements">
      <wsdl:input wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/getExtensibilityElementsRequest" message="tns:getExtensibilityElementsInput" />
      <wsdl:output wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/getExtensibilityElementsResponse" message="tns:getExtensibilityElementsOutput" />
      <wsdl:fault wsaw:Action="urn:getExtensibilityElementsmanagementFault" name="managementFault" message="tns:managementFault" />
    </wsdl:operation>
    <wsdl:operation name="setProcessPropertyNode">
      <wsdl:input wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/setProcessPropertyNodeRequest" message="tns:setProcessPropertyNodeInput" />
      <wsdl:output wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/setProcessPropertyNodeResponse" message="tns:setProcessPropertyNodeOutput" />
      <wsdl:fault wsaw:Action="urn:setProcessPropertyNodemanagementFault" name="managementFault" message="tns:managementFault" />
    </wsdl:operation>
    <wsdl:operation name="getProcessInfoCustom">
      <wsdl:input wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/getProcessInfoCustomRequest" message="tns:getProcessInfoCustomInput" />
      <wsdl:output wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/getProcessInfoCustomResponse" message="tns:getProcessInfoCustomOutput" />
      <wsdl:fault wsaw:Action="urn:getProcessInfoCustommanagementFault" name="managementFault" message="tns:managementFault" />
    </wsdl:operation>
    <wsdl:operation name="getProcessInfo">
      <wsdl:input wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/getProcessInfoRequest" message="tns:getProcessInfoInput" />
      <wsdl:output wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/getProcessInfoResponse" message="tns:getProcessInfoOutput" />
      <wsdl:fault wsaw:Action="urn:getProcessInfomanagementFault" name="managementFault" message="tns:managementFault" />
    </wsdl:operation>
    <wsdl:operation name="listProcessesCustom">
      <wsdl:input wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/listProcessesCustomRequest" message="tns:listProcessesCustomInput" />
      <wsdl:output wsaw:Action="http://www.apache.org/ode/pmapi/ProcessManagementPortType/listProcessesCustomResponse" message="tns:listProcessesCustomOutput" />
      <wsdl:fault wsaw:Action="urn:listProcessesCustommanagementFault" name="managementFault" message="tns:managementFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcessManagementBinding" type="tns:ProcessManagementPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listProcesses">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="managementFault">
        <soap:fault use="literal" name="managementFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setRetired">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="managementFault">
        <soap:fault use="literal" name="managementFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listAllProcesses">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="managementFault">
        <soap:fault use="literal" name="managementFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setProcessProperty">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="managementFault">
        <soap:fault use="literal" name="managementFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="activate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="managementFault">
        <soap:fault use="literal" name="managementFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getExtensibilityElements">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="managementFault">
        <soap:fault use="literal" name="managementFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setProcessPropertyNode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="managementFault">
        <soap:fault use="literal" name="managementFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProcessInfoCustom">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="managementFault">
        <soap:fault use="literal" name="managementFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProcessInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="managementFault">
        <soap:fault use="literal" name="managementFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listProcessesCustom">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="managementFault">
        <soap:fault use="literal" name="managementFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessManagement">
    <wsdl:port name="ProcessManagementPort" binding="tns:ProcessManagementBinding">
      <soap:address location="http://localhost:8080//ProcessManagement.ProcessManagementPort/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>