SimpleRestService/ConsoleClient/Web References/SoapInvokerV2/Caller.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://SoapInvokerV2" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://tempuri.org/" name="Caller" targetNamespace="http://SoapInvokerV2" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <plnk:partnerLinkType name="SoapServicePLT">
    <plnk:role name="SoapServiceProvider" portType="wsdl:ISoapService" />
  </plnk:partnerLinkType>
  <plnk:partnerLinkType name="Caller">
    <plnk:role name="CallerProvider" portType="tns:Caller" />
  </plnk:partnerLinkType>
  <import namespace="http://tempuri.org/" location="SoapService.wsdl" />
  <types>
    <schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://SoapInvokerV2" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="CallerRequest">
        <complexType>
          <sequence>
            <element name="input" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CallerResponse">
        <complexType>
          <sequence>
            <element name="result" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="CallerRequestMessage">
    <part name="payload" element="tns:CallerRequest" />
  </message>
  <message name="CallerResponseMessage">
    <part name="payload" element="tns:CallerResponse" />
  </message>
  <portType name="Caller">
    <operation name="process">
      <input message="tns:CallerRequestMessage" />
      <output message="tns:CallerResponseMessage" />
    </operation>
  </portType>
  <binding name="CallerBinding" type="tns:Caller">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="process">
      <soap:operation soapAction="http://SoapInvokerV2/process" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CallerService">
    <port name="CallerPort" binding="tns:CallerBinding">
      <soap:address location="http://localhost:8080/ode/processes/Caller" />
    </port>
  </service>
</definitions>