SimpleRestService/ConsoleClient/Service References/SoapService/SoapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SoapService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:28387/SoapService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:28387/SoapService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISoapService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ISoapService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISoapService_CreateNewAmbulatoryPatientTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewAmbulatoryPatientTicket" />
  </wsdl:message>
  <wsdl:message name="ISoapService_CreateNewAmbulatoryPatientTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewAmbulatoryPatientTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="ISoapService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISoapService/GetData" message="tns:ISoapService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISoapService/GetDataResponse" message="tns:ISoapService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewAmbulatoryPatientTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ISoapService/CreateNewAmbulatoryPatientTicket" message="tns:ISoapService_CreateNewAmbulatoryPatientTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISoapService/CreateNewAmbulatoryPatientTicketResponse" message="tns:ISoapService_CreateNewAmbulatoryPatientTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISoapService" type="tns:ISoapService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ISoapService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewAmbulatoryPatientTicket">
      <soap:operation soapAction="http://tempuri.org/ISoapService/CreateNewAmbulatoryPatientTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoapService">
    <wsdl:port name="BasicHttpBinding_ISoapService" binding="tns:BasicHttpBinding_ISoapService">
      <soap:address location="http://localhost:28387/SoapService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>